main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
}

ul {
  margin-top: 30px;
}

li {
  margin: 10px 0;
}

a {
  color: var(--dark-purple);
  font-size: large;
}
