div.game-board {
  display: grid;
  grid-template-columns: repeat(3, 50px);
  grid-template-rows: repeat(3, 50px);
}

main {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

article {
  margin: 30px 0;
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-template-rows: 50px 1fr;
  gap: 30px;
}

article > div.game-board {
  grid-column: 1 / 2;
  grid-row: 1/3;
}

article > P {
  max-width: 30vw;
}
