:root {
  --tan: #e9e9d1;
  --dark-purple: #181519;
  --green: #388e3c;
  --red: #c24141;
}

* {
  margin: 0;
  border: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  font-family: 'Josefin Sans', sans-serif;
  background-color: var(--tan);
  color: var(--dark-purple);
}

p {
  font-size: large;
}

/* *############
  * HEADER STYLES
  * ############ */

header {
  position: sticky;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  color: var(--dark-purple);
}

h3.score-display {
  cursor: pointer;
  position: relative;
}

h3.score-display::before {
  content: attr(data-text);
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: 15px;
  width: 200px;
  padding: 10px 0;
  border-radius: 10px;
  background: var(--red);
  color: var(--tan);
  text-align: center;
  box-shadow: 0px 10px 10px #c2414173;
  opacity: 0;
  transition: 0.2s ease;
}
h3.score-display:hover:before {
  opacity: 1;
}

/* *############
  * MAIN CONTENT
  * ############ */

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

main.onboarding > div.game-board {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(3, 200px);
}

div.game-board > div.game-tile {
  width: 100%;
  height: 100%;
}

div.cookie-prompt {
  padding: 50px;
  max-width: 30%;
}

div.cookie-prompt > p {
  margin: 30px 0;
  max-width: 80%;
  font-size: large;
  line-height: 1.8rem;
}

div.cookie-prompt > input,
div.cookie-prompt > button {
  margin: 20px 0;
  display: block;
  padding: 20px;
  border-radius: 7px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: large;
}

div.cookie-prompt > input {
  width: 50%;
  transition: box-shadow 0.2s;
}

div.cookie-prompt > input:hover,
div.cookie-prompt > input:active,
div.cookie-prompt > input:focus {
  width: 50%;
  box-shadow: 0px 10px 10px #bdaf8198;
}

div.cookie-prompt > button {
  background-color: var(--green);
  color: var(--tan);
  cursor: pointer;
  transition: box-shadow 0.2s;
}
div.cookie-prompt > button:hover {
  background-color: var(--green);
  color: var(--tan);
  box-shadow: 0px 10px 10px #498e387e;
  cursor: pointer;
}

/* *############
  * FOOTER STYLES
  * ############ */

footer {
  display: flex;
  justify-content: center;
  padding: 15px;
}

footer > a {
  color: var(--dark-purple);
  margin: 0 15px;
  font-size: large;
}

@keyframes grow {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes shrink {
  0% {
    opacity: 1;
    transform: scale(1);
    border-radius: 10px;
  }

  100% {
    opacity: 0.9;
    transform: scale(0.9);
    border-radius: 10px;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
